* {
  list-style: none;

}

body{
    min-width: 1200px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1160px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

/* header */

.title {
background: center center/cover no-repeat url(/photo/Layer\ 1\ 5.png);
 background-attachment: fixed;

}

.logo {
  display: flex;
  align-items: center;
  padding-right: 305px;
  position: relative;
  gap: 6px;
}

.logo-letter {
  position: absolute;
  padding: 18px 13px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 31px;
}
.logo img {
  width: 58px;
  height: 67px;
}

.logo-name {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
}

.logo span,
.title-page span {
  color: #18cfab;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: rgba(94, 93, 88, 0.6);
}

.logo {
  display: flex;
}
.navmenu {
  display: flex;
  justify-content: space-between;
  gap: 21px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.navmenu img {
  width: 21.091px;
  height: 20px;
}


.nav-item a:hover {
  color: #18cfab;
  padding-bottom: 49px;
  border-bottom: 1px solid #18cfab;
  
    cursor: pointer;
  
}


/* title-page */
.title-page {
  text-align: center;
}

.title-page h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  margin-top: 264px;
}

.title-page h1 {
  color: #fff;
  font-size: 78px;
  font-weight: 700;
  padding: 22px 0;
}

.title-page h3 {
  color: #d4d4d4;
  font-size: 34px;
  font-weight: 400;
}

.btn-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  margin-top: 129px;
}

.btn {
  width: 169px;
  height: 63px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 31.857px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  box-shadow: 0 -5px 0 0 white;
  cursor: pointer;
  margin-bottom: 243px;
}

.btn-green {
  background-color: #18cfab;
}

.btn-blue {
  background-color: #00cbf6;
}

/* options services */

.options {
  display: flex;
}

.options {
  display: flex;
  margin-top: 8px;
}

.options div {
  width: 482px;
  height: 377px;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.option-theme,
.option-support {
  background-color: #1c2a33;
  color: #18cfab;
  display: flex;
   gap: 49px;
}

.option-customizable,
.option-device {
  background-color: #18cfab;
  color: #fff;
  display: flex;
    gap: 68px;
}

/* our service  */

.title-setvice{
    position: relative;
    padding-bottom: 24px;
}

.our-services h2 {
  color: #4e4e4e;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 83px;
}

.our-services-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 67px 0 91px;
}

.tabs-services {
  display: flex;
}

.tabs-title-serv {
  width: 195px;
  height: 76px;
  background: #e9edef;
  cursor: pointer;
  margin-bottom: 13px;
  color: #717171;
  border: 1px solid #e4e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs-title-serv:hover {
  border-color: #18cfab;
}

.active-tab {
  background-color: #18cfab;
  color: #fff;
  position: relative;
}

.active-tab::before{
    content: "";
    position: absolute;
    bottom: 53px;
    height: 13px;
    padding-left: 6px;
    border-bottom: #18CFAB;

}

.tabcontent-serv {
  display: none;
}

.tabcontent-serv p {
  color: #777;
  font-size: 13.645px;

  font-weight: 300;
  line-height: 24.366px;
}
.tabcontent-serv.active-text {
  display: block;
}
.tab-info {
  display: flex;
  gap: 15px;
}

.tab-info img {
  width: 192px;
  height: 139px;
}



/* install */

.install {
  background: url(/photo/Layer\ 21\ 1.png);
  background-color: lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 476px;
}

.display-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.install h2 {
  color: #18cfab;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 40.455px;
  text-transform: uppercase;
  padding: 127px 0 12px;
}

.install p {
  color: #d8d8d8;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}

.install button {
  margin: 67px 0 127px;
}

/* work page */

.our-work {
  background-color: #e9edef;
}

.title-work {
  padding: 95px 0 20px;
  color: #4e4e4e;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  position: relative;

}

.section-title:before {
        content: "";
        position: absolute;
        left: 547px;
        bottom: 0;
        width: 87px;
        border-bottom: 1px solid #18CFAB;
        
  }

  .section-title:after{
    content: "";
    position: absolute;
    left: 568px;
    bottom: -3px;
    width: 77px;
    border-bottom: 1px solid #18CFAB;
  }




.our-work-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab-works {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:69px 0 84px;
}

.tabs-title-work {
  color: #717171;
  font-size: 14px;
  font-weight: 400;
  line-height: 42.042px;
  width: 195px;
  height: 58px;
  background: #e9edef;
  cursor: pointer;
  border: 1px solid #dadada;
  color: #717171;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs-title-work:hover {
  border-color: #18cfab;
  color: #18cfab;
}

.body-tabs-works {
  display: flex;
  flex-wrap: wrap;
}
.tabcontent-work {
  /* display: none; */
  position: relative;
}

.all{
    width: 79px;
height: 58px;
}

.tabcontent-work img {
  width: 285px;
  height: 211px;
}

/* .tabcontent-work.active-text {
  display: block;
} */

.image-hover{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0; 
    background-color: #E9EDEF;;
    border-top: 2px solid #18cfab;
}

.tabcontent-work:hover .image-work{
    opacity: 0;
}
.tabcontent-work:hover .image-hover{
    opacity: 1;
}


.image-hover img{
    width: 88px;
height: 43px;
padding: 46px 96px 24px 101px;
}
.image-hover p{
    color: #18CFAB;
font-size: 14.177px;
text-align: center;
font-weight: 700;
line-height: 25.185px;
text-transform: uppercase;
}

.image-hover span{
    color: #8A8A8A;
    text-align: center;
font-size: 12.152px;
font-weight: 300;
line-height: 25.185px;
display: block;
padding-bottom: 43px;
}
.load {
  width: 168px;
  height: 63px;
  background-color: #18cfab;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  border: none;
  margin: 70px 0 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

/* page news  */

.breaking-news {
  background-color: #fff;
}

.title-news {
  color: #4e4e4e;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 82px;
 padding-bottom: 24px;
  position: relative;
}



.blog-post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 35px;
  padding-bottom: 129px;
  margin-top: 68px;
}
.post-title {
  color: #717171;
  text-align: center;
  font-size: 17.988px;
  font-weight: 700;
  line-height: 38.942px;
  padding: 3px 40px 0 2px;
}

.details-post {
  color: #777;
  text-align: center;
  font-size: 13.991px;
  font-style: normal;
  font-weight: 300;
  line-height: 38.942px;
  padding: 0 53px 1px 2px;
  position: relative;;
}

.comment:before {
  content: "";
  position: absolute;
  bottom: 14px;
  height: 12px;
  left: 100px;
  border-right: 1px solid #777;
}

.comment{
  padding-left: 28px;
}

.blog-post a {
  position: relative;
}

.date {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 64px;
  height: 52px;
  background-color: #203e38;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  padding: 16px 6px;
}

.blog-post a:hover .date {
  background-color: #18cfab;
}

.blog-post a:hover .post-title {
  color: #18cfab;
}

/* feedback page */

.client-feedback{
    background-image: url(/photo/Layer\ 333.png);
    background-size: cover;
  background-repeat: no-repeat;

}

.title-feedback{
    color: #FFF;
text-align: center;
font-size: 36px;
font-weight: 400;
line-height: 40px;
padding:98px 0 101px;
position: relative;
padding-bottom: 25px;
}



.client-feedback img{
    width: 44px;
height: 29.999px;

display: flex;
justify-content: center;
margin: 68px 0 37px;
}

.client-feedback p{
    color: #BBB;
text-align: center;
font-size: 16px;
font-weight: 300;
line-height: 30px; 
}

footer{
  font-size: 14px;
font-weight: 300;
line-height: 26px; 
display: flex;
justify-content: center;
gap:12px;
align-items: center;
height: 121px;
background-color: #22353F;
position: relative;
}

footer p{
  color: #AEAEAE;
}
footer span::after {
  content: "";
  position: absolute;
  bottom: 53px;
  height: 13px;
  padding-left: 6px;
  border-right: 1px solid #777;
}


footer span{
  color: #18CFAB;
}